                        /*BODY*/
body
{
    font-family: 'Raleway', sans-serif;
    width: 1440px;
    margin: auto;
}



                        /*FLEXBOX general*/

.body__containers--flex
{
    display: flex;
}

.body__containers--space-between
{
    justify-content: space-between;
}

.body__containers--column
{
   flex-direction: column; 
}



                        /*COLORS*/

/*filters icons && stars icons*/
.content__icons--colorBlue
{
    color: #0065FC;
}

/*stars icons*/
.content__icons--colorGrey
{
    color: #F2F2F2;
}

/*sections background*/
.body__article_aside_footer--background-grey
{
    background-color: #F2F2F2;
}



                        /*SPACES general*/
.body__header_content--margin
{
    margin: 0 3em 0em 3em;
}

.sections__h1--margin-bottom
{
    margin-bottom: 1.2em;
}

figcaption
{
    padding-left: 0.8em;
}


/*spaces between sections*/
.body__bigSections--margin          
{
    margin-bottom: 3.5em;
}





                        /*FONT general*/
h1
{
    font-size: 1.4em;
}

h2, input
{
    font-size: 1em;
}

h3
{
    font-size: 1em;
}

p, li
{
    font-size: 0.9em;
}

/*bold*/
.caracters--bold, h2, input
{
    font-weight: bold;
}



                        /*LINKS general*/

a
{
    text-decoration: none;
    color: #000000;
}



                        /*SECTIONS VISUALS*/
.content__figures--visual
{
    overflow: hidden;
    box-shadow: 0px 5px 5px #e4e4e4;
    
}

.hebergements__figures--background
{
    background-color: #ffffff;
    margin: 0 0 2em 0;
}

.content__borders--radius /* borders corners of icons & figures*/
{
    border-radius: 1em;
}

.content__aside_article--radius
{
    border-radius: 1em;
}









                                    /*HEADER*/                
header
{
    padding-top: 1em;
}

#reservia_logo
{
    width: 70%;
}




nav p
{
    padding: 2em;
    width: 50%;
}

.header__links--flex-end
{
    display: flex;
    align-self: flex-end;
}


.nav__caracters--colorBlue
{
    color: #0065FC;
}

.nav__linkHebergements--visual
{
    border-top: 2px #0065FC solid;
}



                                    /*SEARCH & FILTER*/
#searchAndFilter
{
    margin: 0 0 2em 0;
}  

#searchAndFilter div
{
    align-items: center;
}

#searchAndFilter h1
{
    line-height: 0;
}

form
{
    margin: 1.5em 0 1.5em 0;
}

.form__buttons      /*ALL Form buttons caracteristics*/
{
    height: 50px;
    border: none;
}

.form__square_buttons--sizes-border  /*map & phoneSearch buttons*/
{
    width: 50px;
    font-size: 1em;
}

#mapButton          /*icon gps*/
{
    background-color: #F2F2F2; 
    border-radius: 0.8em 0 0 0.8em;
}

input          /*where you put the city*/
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-right: none;
    height: 46px;
    padding-left: 1em;
    margin: 0 -1em 0 -0.3em;  /*remove empty sides spaces with buttons, more on the right because of the border-radius that needs to be reached*/
}

/*search buttons*/
.form__search_buttons--looks
{
    background-color: #0065FC;
    color: #ffffff;
}

#RechercherButton        /*Big laptop search button with text*/
{
    border-radius: 0 0.8em 0.8em 0;
    padding: 0 1.2em 0 1.2em;
    font-size: 1.2em;
}

#phoneSearchButton          /*phone search button with icon*/
{
    visibility: hidden;
    border-radius: 0.8em;
}




                        /*filters*/
.searchAndFilter__block--margin /*space between filters & filterTitle*/
{
    margin-right: 2em;
}

#containerFilters
{
    margin: 2em 0 1em 0;
}

.searchAndFilter__divs_icons--radius
{
    border-radius: 2em;
}

.searchAndFilter__filter          /*filters*/
{
    border: 3px #F2F2F2 solid;
    background-color: #ffffff;
    height: 50px;
    padding-right: 0.9em;
}

.filters_button__divIcon--looks         /*icons background & else*/
{
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    font-size: 1.2em; 
    margin: -0.25em 0 0 -0.7em;  
}

.searchAndFilter__filter p
{
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.8em 0.7em 0 0.7em;
}

 .searchAndFilter__filter:hover           /*filters when hovering*/
{
    background-color: #DEEBFF;
    border: 3px #DEEBFF solid;
}





.searchAndFilter__iconInfo--border          /* "i" icon*/
{
    border: 1px #F2F2F2 solid;
    font-size: 0.8em;
    padding: 0.4em 0.7em 0.4em 0.7em;
    margin-right: 0.5em;
}

#infoLine  /*align icon and text*/
{
    display: flex;
}



                        /*HEBERGEMENTS*/
.hebergements__figures--border-margin
{
    border: 5px #ffffff solid;
    margin-bottom: 2em;
}

#hebergements i
{
    font-size: 0.8em;
}




                        /*ARTICLE*/
article
{
    width: 63%;
    padding: 1.5em 2em 1.5em 2em;
}

#containerArticle
{
    flex-wrap: wrap;
}


article figure
{
    width: 240px;
    height: 200px;  
}

article figcaption
{
    line-height: 0.7em;
}


/*Images laptop sizes to fixate the background area*/
.article__img--size
{
    width: 240px;
    height: 114px;
}

/*Images ARTICLE*/
#articleImg_cannebiere 
{ 
    background-image: url("P2_05_reservia_img/hebergements/4_small/1cannebiereS.jpg")
}

#articleImg_port 
{ 
    background-image: url("P2_05_reservia_img/hebergements/4_small/2portS.jpg");
}

#articleImg_mouettes 
{ 
    background-image: url("P2_05_reservia_img/hebergements/4_small/3mouettesS.jpg");
}

#articleImg_mer 
{ 
    background-image: url("P2_05_reservia_img/hebergements/4_small/4merS.jpg");
}

#articleImg_panier 
{ 
    background-image: url("P2_05_reservia_img/hebergements/4_small/5panierS.jpg");
}

#articleImg_amina 
{ 
    background-image: url("P2_05_reservia_img/hebergements/4_small/6aminaS.jpg");
}






                        /*ASIDE*/
aside
{
    padding: 1.3em 2em 1.3em 2em;
    margin-left: 2.5em;
}

#asideHeader            /*space between title and icon*/
{
    width: 325px;
}

#asideHeader div            /*icon centered and sized*/
{ 
    align-self: center;
    font-size: 1.8em;
}

aside figure        /*management block img + legend*/
{
    width: 325px;
    height: 134px;
}

aside figcaption
{
    padding: 0em 1em 0.5em 0.8em;
    line-height: 0.8em;
}


/*Images laptop sizes*/
.aside__img--size
{
    width: 127px;
    height: 134px;
}


/*Images ASIDE*/
#asideImg_soleil 
{ 
    background-image: url("P2_05_reservia_img/hebergements/4_small/7soleilS.jpg");
}

#asideImg_coeur 
{ 
    background-image: url("P2_05_reservia_img/hebergements/4_small/8coeurS.jpg");
}

#asideImg_bleublanc 
{ 
    background-image: url("P2_05_reservia_img/hebergements/4_small/9bleublancS.jpg");
}





                                    /*ACTIVITIES*/
.activities__containers--height
{
    height: 445px;
}
 
#activities figure
{
    width: 300px;
    max-height: 445px;  
    margin: 0;
}

/*Images laptop sizes to fixate background area*/
.activities__allImg--laptopWidth
{
    width: 300px;
}

.activities__bigImg--laptopHeight
{
    height: 390px;
}

.activities__pomeguesImg--laptopHeight
{
    height: 180px;
}

.activities__frioulImg--laptopHeight
{
    height: 110px;
}

.activities__notredameImg--laptopHeight
{
    height: 140px;
}

.activities__longchampImg--laptopHeight
{
    height: 150px;
}

/*Images ACTIVITIES*/
#activitiesImg_vieuxport
{
    background-image: url("P2_05_reservia_img/activites/4_small/1vieuxportS.jpg");
}

#activitiesImg_pomegues 
{
    background-image: url("P2_05_reservia_img/activites/4_small/2pomeguesS.jpg");
}

#activitiesImg_frioul 
{ 
    background-image: url("P2_05_reservia_img/activites/4_small/3frioulS.jpg");
}

#activitiesImg_calanques 
{ 
    background-image: url("P2_05_reservia_img/activites/4_small/4calanquesS.jpg");
}

#activitiesImg_notredame 
{ 
    background-image: url("P2_05_reservia_img/activites/4_small/5notredameS.jpg");
}

#activitiesImg_longchamp 
{ 
    background-image: url("P2_05_reservia_img/activites/4_small/6longchampS.jpg");
}





                                    /*FOOTER*/
footer
{
    padding: 2em 3em 2em 3em;
    margin-top: 1em;
}

footer div
{
    width: 33%;
}

footer h2
{
    margin-bottom: 1.2em;
}

ul
{
    list-style: none;
    padding: 0;
}

li
{
    padding-bottom: 1em;
}




@media screen and (max-width: 62em)
{
    body
    {
        width: auto;
    }

    #containerFilters
    {
        flex-direction: column;
    }

    #flex_filters
    {
        flex-wrap: wrap;
    }

    #filterTitle
    {
        align-self: flex-start;
    }

    #containerFilters
    {
        align-self: flex-start;
    }

    #hebergements
    {
        flex-direction: column;
    }


    #asideFigures
    {
        display: flex;
    }

    footer div
    {
        width: 20%;
    }

}


@media screen and (max-width: 43em)
{
    body
    {
        width: auto;
    }

    .body__header_content--margin          /*global margin concerned by total body except footer*/
    {
        margin: 0; 
    }

    .body__content--paddingPhone           /*sides padding of all body*/
    {
        padding: 1em 1.4em 1em 1.4em;

    }

    .body__bigSections--margin          /*margin corrected for header, hebergements, activities*/     
    {
        margin-bottom: 0;
    }



   


                            /*HEADER*/
   
    header 
    {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #reservia_logo
    {
        margin-bottom: 0.5em;
    }

    nav         /*space between nav & title*/
    {
        margin-bottom: 0.5em;
        order: 1;
        width: 100%;
        margin: 0em 1.4em 0em -1.4em; /***A VOIR && TESTER***/
    }

    nav a
    {
        padding: 0.8em;
        display: flex;
        justify-content: space-around;
    }

    nav p 
    {
        border: 1px #000000 solid;
    }

    #inscriptionLink
    {
        justify-self: flex-end;
    }

    .nav__linkHebergements--visual
    {
        border-top: none;
        border-bottom: 2px #0065FC solid;
    }

    .nav__linkActivites--borderPhone
    {
        border-bottom: 2px #F2F2F2 solid;
    }




                            /*SEARCH && FILTERS*/


    #RechercherButton
    {
        display: none;
    }
    
    #phoneSearchButton
    {
        visibility: visible;
    }
    
    
    #searchAndFilter h1
    {
        line-height: 1em;
        margin-bottom: 0;
    }

    #containerFilters
    {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #filterSelection
    {
        align-self: flex-start;
    }

    .searchAndFilter__filtersContainer
    {
        margin-top: 0em;
    }

    .searchAndFilter__block--margin /*space between filters*/
    {
        margin: 0 0.7em 0.9em 0;
    }




                        /*HEBERGEMENTS*/
    #hebergements
    {
        flex-direction: column-reverse;
    }

    #hebergements figure 
    {
        width: 324px;
        margin-bottom: 0.7em; 
    }

    .content__aside_article--radius
    {
        border-radius: 0;
    }


                        /*ARTICLE*/
    article 
    {
        width: auto;
    }

    #article_noBackground
    {
        background: none;
    }
    
    #containerArticle
    {
        flex-direction: column;
    }

    article figure 
    {
        height: 190px;
    }

    article figcaption
    {
        line-height: 0.4em;
    }

    /*Images phone sizes to fixate the background area*/
    .article__img--size
    {
        width: 326px;
        height: 114px;
    }

    /*Images ARTICLE PHONE*/
    #articleImg_cannebiere 
    { 
        background-image: url("P2_05_reservia_img/hebergements_phone/1cannebierePhone.jpg")
    }

    #articleImg_port 
    { 
        background-image: url("P2_05_reservia_img/hebergements_phone/2portPhone.jpg");
    }

    #articleImg_mouettes 
    { 
        background-image: url("P2_05_reservia_img/hebergements_phone/3mouettesPhone.jpg");
    }

    #articleImg_mer 
    { 
        background-image: url("P2_05_reservia_img/hebergements_phone/4merPhone.jpg");
    }

    #articleImg_panier 
    { 
        background-image: url("P2_05_reservia_img/hebergements_phone/5panierPhone.jpg");
    }

    #articleImg_amina 
    { 
        background-image: url("P2_05_reservia_img/hebergements_phone/6aminaPhone.jpg");
    }




                        /*ASIDE*/
    aside 
    { 
        margin-left: 0;
    }


    #asideFigures
    {
        flex-direction: column;
     
    }

    aside figure 
    {
        height: 134px;
        justify-items: center;
    }





                        /*ACTIVITIES*/
    #containerActivities
    {
        flex-direction: column;
        height: auto;
    }

    #containerActivities figure 
    {
        width: 334px;
        height: 190px;
        margin-bottom: 1.4em;
    }

    .activities__doubleIMGdiv--heightPhone
    {
        height: 424px;
    }


    /*Images phone sizes to fixate background area*/
    .activities__img--size
    {
        width: 334px;
        height: 134px;
    }

    /*Images ACTIVITIES PHONE*/
    #activitiesImg_vieuxport
    {
        background-image: url("P2_05_reservia_img/activities_phone/1vieuxportPhone.jpg");
    }

    #activitiesImg_pomegues 
    {
        background-image: url("P2_05_reservia_img/activities_phone/2pomeguesPhone.jpg");
    }

    #activitiesImg_frioul 
    { 
        background-image: url("P2_05_reservia_img/activities_phone/3frioulPhone.jpg");
    }

    #activitiesImg_calanques 
    { 
        background-image: url("P2_05_reservia_img/activities_phone/4calanquesPhone.jpg");
    }

    #activitiesImg_notredame 
    { 
        background-image: url("P2_05_reservia_img/activities_phone/5notredamePhone.jpg");
    }

    #activitiesImg_longchamp 
    { 
        background-image: url("P2_05_reservia_img/activities_phone/6longchampPhone.jpg");
    }



                        /*FOOTER*/
    footer 
    {
        flex-direction: column;
    }

    footer div 
    {
        width: auto;
    }
}


