






                        /*BODY*/
body
{
    font-family: 'Raleway', sans-serif;
    width: 1440px;
    margin: auto;
}



                        /*FLEXBOX general*/

.body__containers--flex
{
    display: flex;
}

.body__containers--space-between
{
    justify-content: space-between;
}

.body__containers--column
{
   flex-direction: column; 
}



                        /*COLORS*/

/*filters icons && stars icons*/
.content__icons--colorBlue
{
    color: #0065FC;
}

/*stars icons*/
.content__icons--colorGrey
{
    color: #F2F2F2;
}

/*sections background*/
.body__article_aside_footer--background-grey
{
    background-color: #F2F2F2;
}



                        /*SPACES general*/
.body__header_content--margin
{
    margin: 0 3em 0em 3em;
}

.sections__h1--margin-bottom
{
    margin-bottom: 1.2em;
}

/*spaces between sections*/
header, #hebergements, #activities          
{
    margin: 0 0 3.5em 0;
}

figcaption
{
    padding-left: 0.8em;
}



                        /*FONT general*/
h1
{
    font-size: 1.4em;
}

h2, input
{
    font-size: 1em;
}

h3
{
    font-size: 0.9em;
}

p, li
{
    font-size: 0.8em;
}

/*bold*/
.caracters--bold, h2, input
{
    font-weight: bold;
}



                        /*LINKS general*/

a
{
    text-decoration: none;
    color: #000000;
}



                        /*SECTIONS VISUALS*/
.content__figures--visual
{
    overflow: hidden;
    box-shadow: 0px 5px 5px #e4e4e4;
    
}

.hebergements__figures--background
{
    background-color: #ffffff;
    margin: 0 0 2em 0;
}

.content__borders--radius
{
    border-radius: 1em;
}











                                    /*HEADER*/                
header
{
    padding-top: 1em;
}

header nav
{
    width: 25%;
}

nav a
{
    padding: 2em;
}

.nav__caracters--colorBlue
{
    color: #0065FC;
}

.nav__linkHebergements--visual
{
    border-top: 2px #0065FC solid;
}



                                    /*SEARCH & FILTER*/
#searchAndFilter
{
    margin: 0 0 2em 0;
}  

#searchAndFilter div
{
    align-items: center;
}

#searchAndFilter h1
{
    line-height: 0;
}

#searchAndFilter label          /*icon gps*/
{
    background-color: #F2F2F2; 
    padding: 0.9em 1em 0.9em 1em;
    border-radius: 0.8em 0 0 0.8em;
}

input[type="text"]          /*where you put the city*/
{
    border: 1px #F2F2F2 solid;
    padding: 0.7em 0.7em 0.8em 0.8em;
    margin: 0 -0.3em 0 -0.3em;
}

input[type="submit"]          /*button research*/
{
    background-color: #0065FC;
    border: none;
    border-radius: 0 0.8em 0.8em 0;
    padding: 0.7em 0.7em 0.8em 0.7em;
    color: #ffffff;
}

form
{
    margin: 1.5em 0 1em 0;
}

                        /*filters*/
.searchAndFilter__block--margin
{
    margin-right: 2em;
}

.searchAndFilter__filtersContainer
{
    margin: 1em 0 1em 0;
}

.searchAndFilter__divs_icons--radius
{
    border-radius: 2em;
}

.searchAndFilter__filter          /*filters decoration*/
{
    border: 3px #F2F2F2 solid;
    border-left-color: #DEEBFF;
    padding: 0em 1.5em 0em 0em;
}

.searchAndFilter__filter i, .searchAndFilter__filter:hover           /*icons + filters when hovering*/
{
    background-color: #DEEBFF;
}

.searchAndFilter__filter i         /*filters icons*/ 
{
    font-size: 1.2em;   
    margin-right: 0.7em;
}


.filter__billIcon--padding
{
    padding: 0.7em 0.6em 0.7em 0.5em;           /*modifications to have round borders*/
}

.filter__childIcon--padding
{
    padding: 0.7em 0.9em 0.7em 0.8em;

}

.filter__heartIcon_dogIcon--padding
{
    padding: 0.7em 0.7em 0.7em 0.6em;
}

.searchAndFilter__iconInfo--border          /* "i" icon*/
{
    border: 1px #F2F2F2 solid;
    font-size: 0.8em;
    padding: 0.4em 0.7em 0.4em 0.7em;
    margin-right: 0.5em;
}


                        /*HEBERGEMENTS*/
.hebergements__figures--border-margin
{
    border: 5px #ffffff solid;
    margin: 0 0 2em 0;
}



                        /*ARTICLE*/
article
{
    width: 63%;
    padding: 1.5em 2em 1.5em 2em;
}

#containerArticle
{
    flex-wrap: wrap;
}


article figure
{
    width: 240px;
    height: 200px;  
}

article figcaption
{
    line-height: 0.7em;
}

#containerArticle div
{
    width: 240px;
    height: 114px;
}

/*Images laptop sizes*/
.article__img--size
{
    width: 240px;
    height: 114px;
}

/*Images ARTICLE*/
#articleImg_cannebiere { background-image: url("P2_05_reservia_img/hebergements/4_small/1cannebiereS.jpg")}

#articleImg_port { background-image: url("P2_05_reservia_img/hebergements/4_small/2portS.jpg");}

#articleImg_mouettes { background-image: url("P2_05_reservia_img/hebergements/4_small/3mouettesS.jpg");}

#articleImg_mer { background-image: url("P2_05_reservia_img/hebergements/4_small/4merS.jpg");}

#articleImg_panier { background-image: url("P2_05_reservia_img/hebergements/4_small/5panierS.jpg");}

#articleImg_amina { background-image: url("P2_05_reservia_img/hebergements/4_small/6aminaS.jpg");}






                        /*ASIDE*/
aside
{
    padding: 1.3em 2em 1.3em 2em;
    margin-left: 2.5em;
}

#asideHeader            /*space between title and icon*/
{
    width: 325px;
}

#asideHeader div            /*icon centered*/
{ 
    align-self: center;
    font-size: 1.2em;
}
aside figure        /*management block img + legend*/
{
    width: 325px;
    height: 134px;
}

aside figcaption
{
    padding: 0 0 0.8em 1em;
}

/*Images laptop sizes*/
.aside__img--size
{
    width: 127px;
    height: 134px;
}


/*Images ASIDE*/
#asideImg_soleil { background-image: url("P2_05_reservia_img/hebergements/4_small/7soleilS.jpg");}

#asideImg_coeur { background-image: url("P2_05_reservia_img/hebergements/4_small/8coeurS.jpg");}

#asideImg_bleublanc { background-image: url("P2_05_reservia_img/hebergements/4_small/9bleublancS.jpg");}





                                    /*ACTIVITIES*/
.activities__containers--height
{
    height: 445px;
}
    
#activities figure
{
    width: 300px;
    max-height: 445px;  
    margin: 0;
}

/*Images laptop sizes*/
.activities__allImg--laptopWidth
{
    width: 300px;
}

.activities__bigImg--laptopHeight
{
    height: 390px;
}

.activities__pomeguesImg--laptopHeight
{
    height: 180px;
}

.activities__frioulImg--laptopHeight
{
    height: 110px;
}

.activities__notredameImg--laptopHeight
{
    height: 140px;
}

.activities__longchampImg--laptopHeight
{
    height: 150px;
}

/*Images ACTIVITIES*/
#activitiesImg_vieuxport
{
    background-image: url("P2_05_reservia_img/activites/4_small/1vieuxportS.jpg");
}

#activitiesImg_pomegues 
{
    background-image: url("P2_05_reservia_img/activites/4_small/2pomeguesS.jpg");
}

#activitiesImg_frioul 
{ 
    background-image: url("P2_05_reservia_img/activites/4_small/3frioulS.jpg");
}

#activitiesImg_calanques 
{ 
    background-image: url("P2_05_reservia_img/activites/4_small/4calanquesS.jpg");
}

#activitiesImg_notredame 
{ 
    background-image: url("P2_05_reservia_img/activites/4_small/5notredameS.jp");
}

#activitiesImg_longchamp 
{ 
    background-image: url("P2_05_reservia_img/activites/4_small/6longchampS.jpg");
}





                                    /*FOOTER*/
footer
{
    padding: 2em 3em 2em 3em;
    margin-top: 1em;
}

footer div
{
    width: 33%;
}

footer h2
{
    margin-bottom: 1.2em;
}

ul
{
    list-style: none;
    padding: 0;
}

li
{
    padding-bottom: 1em;
}




@media screen and (max-width: 992px)
{
    body
    {
        width: auto;
        overflow: hidden;
    }

    #containerFilters
    {
        flex-direction: column;
    }

    #flex_filters
    {
        flex-wrap: wrap;
    }

    #filterTitle
    {
        align-self: flex-start;
    }

    #containerFilters
    {
        align-self: flex-start;
    }

    #hebergements
    {
        flex-direction: column;
    }


    #asideFigures
    {
        display: flex;
    }

    footer div
    {
        width: 20%;
    }

}


@media screen and (max-width: 688px)
{
    body
    {
        width: auto;
        overflow: hidden;
    }

    .body__header_content--margin
    {
        margin: 0;
    }


    header 
    {
        flex-direction: column;
    }

    .nav___p_sinscrire--position
    {
        justify-self: baseline;
    }


    #searchAndFilter h1
    {
        line-height: 1em;
    }

    #containerFilters
    {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #filterSelection
    {
        align-self: flex-start;
    }




    #hebergements
    {
        flex-direction: column-reverse;
    }


    article 
    {
        width: auto;
    }

    #containerArticle
    {
        flex-direction: column;
    }

    aside
    {
        margin-left: 0;
    }

    #asideFigures
    {
        flex-direction: column;
    }




    #containerActivities
    {
        flex-direction: column;
        height: auto;
    }




    footer 
    {
        flex-direction: column;
    }
}


