                        /*BODY*/
body
{
    font-family: 'Raleway', verdana, sans-serif;
    width: 1440px;
    margin: auto;
}

                        /*FLEXBOX general*/
.containers--flex
{
    display: flex;
}

.containers--space-between
{
    justify-content: space-between;
}

.containers--column
{
   flex-direction: column; 
}

.containers_spans--justify-center
{
    justify-content: center;
}

.containers--align-center
{
    align-items: center;
}

                        /*COLORS*/
/* nav && filters icons && stars icons*/
.darkBlue
{
    color: #0065FC;
}

/*stars icons*/
.content__icons--colorGrey
{
    color: #F2F2F2;
}

/*sections background*/
article, aside, footer
{
    background-color: #F2F2F2;
}

                        /*SPACES general*/
/*all but footer*/
#header__content--margin            
{
    margin: 0 3em 0em 3em;
}

/* between sections titles and figures*/
.sections__h2--margin-bottom        
{
    margin-bottom: 1.2em;
}

/*between text and  left border*/
.figure__textDiv--padding-left          
{
    padding-left: 0.8em;
}

/*spaces between sections*/
.sections--margin          
{
    margin-bottom: 3.5em;
}

                        /*FONT general*/
h1, h2
{
    font-size: 1.4em;
}

#RechercherButton, .filters_button__spanIcon--looks
{
    font-size: 1.2em;
}

h3, h4, input, .searchAndFilter__button, .form__square_buttons--sizes-border 
{
    font-size: 1em;
}

p, li
{
    font-size: 0.9em;
}

#infoLine i, article i, aside i
{
    font-size: 0.8em;
}

/*bold*/
.caracters--bold, h2, input
{
    font-weight: bold;
}

                        /*LINKS general*/

a
{
    text-decoration: none;
    color: #000000;
}

                        /*SECTIONS VISUALS*/
.figures--visual
{
    overflow: hidden;           /*hides/rounds corners of img*/
    box-shadow: 0px 5px 5px #e4e4e4;
    border-radius: 1em;
}

.hebergements__figures
{
    background-color: #ffffff;
    margin: 0 0 2em 0;
    border: 5px #ffffff solid;
}

article, aside
{
    border-radius: 1em;
}



                                    /*HEADER*/                

header p
{
    margin-top: 0;
    padding: 2em 1.7em 3em 1.7em;       /*handles words spaces, laptop visual*/
}

#reservia_logo
{
    width: 75%;
}



                                    /*NAV*/
#nav__linkHebergements--visual
{
    border-top: 2px #0065FC solid;
}



                                    /*SEARCH & FILTER*/
#searchAndFilter            /*space under section*/
{
    margin: 0 0 2em 0;
}  

#searchAndFilter h1         /*to have the under p closer*/
{
    line-height: 0;
}

form
{
    margin: 1.5em 0 1.5em 0;
}

.form__buttons      /*ALL Form buttons caracteristics*/
{
    height: 50px;
    border: none;
}

.form__square_buttons--sizes-border         /*map & phoneSearch buttons*/
{
    width: 50px;
}

#mapButton          /*icon gps*/
{
    background-color: #F2F2F2; 
    border-radius: 0.8em 0 0 0.8em;
}

input          /*where you put the city*/
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-right: none;
    height: 46px;
    padding-left: 1em;
    margin: 0 -1em 0 -0.3em;  /*remove empty sides spaces with buttons, more on the right because of the border-radius that needs to be reached*/
}

/*search buttons*/
.form__search_buttons--looks
{
    background-color: #0065FC;
    color: #ffffff;
}

#RechercherButton        /*Big laptop search button with text*/
{
    border-radius: 0 0.8em 0.8em 0;
    padding: 0 1.2em 0 1.2em;
}

#phoneSearchButton          /*phone search button with icon*/
{
    visibility: hidden;
    border-radius: 0.8em;
}

                        /*filters*/
.searchAndFilter__block--margin /*space between filters & filterTitle*/
{
    margin-right: 2em;
}

#containerFilters
{
    margin: 2em 0 1em 0;
}

.searchAndFilter__buttons_icons--radius
{
    border-radius: 2em;
}

.searchAndFilter__button, .filters_button__spanIcon--looks
{
    height: 50px;
}

.searchAndFilter__button          /*filters*/
{
    border: 3px #F2F2F2 solid;
    background-color: #ffffff;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 0.85em 0.9em 0 0;
}

.filters_button__spanIcon--looks, .searchAndFilter__button:hover
{
    background-color: #DEEBFF;
}

.filters_button__spanIcon--looks         /*icons background & else*/
{
    width: 50px;
    margin: -0.85em 0.5em 0 -0.2em;  
}

 .searchAndFilter__button:hover           /*filters when hovering*/
{
    border: 3px #DEEBFF solid;
}

#infoLine i       /* "i" icon*/
{
    border: 1px #F2F2F2 solid;
    padding: 0.4em 0.7em 0.4em 0.7em;
    margin-right: 0.5em;
}



                        /*ARTICLE*/
article
{
    width: 905px;
    height: 660px;
    padding: 0 2em 0 2em;
}

#containerArticle
{
    flex-wrap: wrap;
}

article figure
{
    width: 240px;
    height: 200px;
}

.article__figureTextDiv--line-height
{
    line-height: 0.3em;         /*reduce space between img and text so that stars fit in*/
}

/*Images laptop sizes to fixate the background area*/
.article__img--size
{
    width: 240px;
    height: 114px;
}

/*Images ARTICLE*/
#articleImg_cannebiere 
{ 
    background-image: url("reservia_img/hebergements/4_small/1cannebiereS.jpg")
}

#articleImg_port 
{ 
    background-image: url("reservia_img/hebergements/4_small/2portS.jpg");
}

#articleImg_mouettes 
{ 
    background-image: url("reservia_img/hebergements/4_small/3mouettesS.jpg");
}

#articleImg_mer 
{ 
    background-image: url("reservia_img/hebergements/4_small/4merS.jpg");
}

#articleImg_panier 
{ 
    background-image: url("reservia_img/hebergements/4_small/5panierS.jpg");
}

#articleImg_amina 
{ 
    background-image: url("reservia_img/hebergements/4_small/6aminaS.jpg");
}



                        /*ASIDE*/
aside
{
    width: 400px;
    height: 660px;
    margin-left: 2.5em;         /*creates empty space between article & aside*/
}

#asideHeader, aside figure
{
    width: 325px;
}

#asideHeader            /*space between title and icon*/
{
    margin-bottom: 1.2em;
}

#asideHeader div            /*icon centered vertically and sized*/
{ 
    align-self: center;
    font-size: 1.8em;
}

aside figure        /*management block img + legend*/
{
    height: 134px;
}

.aside__textDiv--padding
{
    padding: 0em 1em 0.5em 0.7em;
}

aside h4
{
    margin-top: 0.7em;
}

.aside__h4--margin-bottom         /*reduces space between the two text divs*/
{
    margin-bottom: -0.5em;
}

/*Images laptop sizes*/
.aside__img--size
{
    width: 127px;
    height: 134px;
}

.aside__img--size-modif-width         /*correction of the unexplained cut picture 8*/
{
    width: 190px;
}

/*Images ASIDE*/
#asideImg_soleil 
{ 
    background-image: url("reservia_img/hebergements/4_small/7soleilS.jpg");
}

#asideImg_coeur 
{ 
    background-image: url("reservia_img/hebergements/4_small/8coeurS.jpg");
}

#asideImg_bleublanc 
{ 
    background-image: url("reservia_img/hebergements/4_small/9bleublancS.jpg");
}



                                    /*ACTIVITES*/
.activites__containers--height
{
    height: 445px;
}
 
.activites__figures
{
    margin: 0;          /*default marges reduce figures width*/
}

/*Images laptop sizes to fixate background area*/
.activites__allImg--laptopWidth
{
    width: 300px;
}

.activites__bigImg--laptopHeight
{
    height: 390px;
}

.activites__pomeguesImg--laptopHeight
{
    height: 180px;
}

.activites__frioulImg--laptopHeight
{
    height: 110px;
}

.activites__notredameImg--laptopHeight
{
    height: 140px;
}

.activites__longchampImg--laptopHeight
{
    height: 150px;
}

/*Images ACTIVITES*/
#activitesImg_vieuxport
{
    background-image: url("reservia_img/activites/4_small/1vieuxportS.jpg");
}

#activitesImg_pomegues 
{
    background-image: url("reservia_img/activites/4_small/2pomeguesS.jpg");
}

#activitesImg_frioul 
{ 
    background-image: url("reservia_img/activites/4_small/3frioulS.jpg");
}

#activitesImg_calanques 
{ 
    background-image: url("reservia_img/activites/4_small/4calanquesS.jpg");
}

#activitesImg_notredame 
{ 
    background-image: url("reservia_img/activites/4_small/5notredameS.jpg");
}

#activitesImg_longchamp 
{ 
    background-image: url("reservia_img/activites/4_small/6longchampS.jpg");
}



                                    /*FOOTER*/
footer
{
    padding: 2em 3em 2em 3em;
    margin-top: 1em;
}

footer div
{
    width: 33%;
}

footer h2
{
    margin-bottom: 1.2em;
}

ul
{
    list-style: none;
    padding: 0;
}

li
{
    padding-bottom: 1em;
}





@media screen and (max-width: 79em)
{
    .responsive__containers--width-auto
    {
        width: auto;
    }

    article, #containerActivites, aside
    {
        height: auto;
    }

    #containerArticle, #containerAside
    {
        max-width: 990px;
    }

    #containerActivites
    {
        max-width: 800px;
    }

            /*MARGIN && PADDING*/

    #header__content--margin          /*global margin concerned by total body except footer*/
    {
        margin: 0; 
    }

    .responsive__content--padding           /*sides padding of all parts*/
    {
        padding: 0 1.4em 0 1.4em;
    }

    .body__bigSections--margin          /*margin corrected for header, hebergements, activites*/     
    {
        margin-bottom: 0;
    }

    .sections__h2--margin-bottom
    {
        margin-bottom: 2.5em;
    }

    .responsive__sections--padding
    {
        padding: 2em 0em 2em 0;
    }

            /*FLEXBOX*/

    .responsive__containers--flexWrap, .tablet__containers--flexWrap
    {
        flex-wrap: wrap;
    }

    .responsive__containers--column
    {
        flex-direction: column;
    }



                            /*HEADER*/
   
    header 
    {
        justify-content: space-between;
    }

    header p
    {
        padding: 0;
    }

    #reservia_logo
    {
        margin-bottom: 0.5em;
    }

    nav         /*space between nav & title*/
    {
        margin-bottom: 0.5em;
        order: 1;
        width: 100%;
    }

    nav a
    {
        padding: 0.8em;         /*put space between word and border*/
        justify-content: space-around;
    }

    nav p           /*for links to take all the row's space*/
    {
        width: 50%; 
    }

    #reservia_logo
    {
        padding: 1em 0 1em 1.4em;
    }

    #inscriptionLink
    {
        padding: 1em 1.4em 1em 0;
    }

    #nav__linkHebergements--visual
    {
        border-top: none;
        border-bottom: 2px #0065FC solid;
    }

    .nav__linkActivites--borderPhone
    {
        border-bottom: 2px #F2F2F2 solid;
    }



                            /*SEARCH && FILTERS*/

    #searchAndFilter h1
    {
        line-height: 1em;
        margin-bottom: 0;
    }
    
    form
    {
        margin: 2em 0 1.5em 0;
    }
  
    #filterSelection, #filterTitle
    {
        align-self: flex-start;
    }

    .searchAndFilter__block--margin /*space between filters*/
    {
        margin: 0 0.7em 0.9em 0;
    }



                        /*HEBERGEMENTS*/
  
    aside, article
    {
        border-radius: 0;
    }



                        /*ARTICLE*/

    article 
    {
        align-items: center;
        background: none;
    }

    #containerArticle
    {
        justify-content: space-around;
    }



                        /*ASIDE*/
    aside          
    { 
        margin-left: 0;
        order: -1;      /*place this part on top of the other*/
    }

    #asideHeader
    {
        margin-bottom: 2.5em;
    }
 
    aside figure 
    {
        justify-items: center;
    }

    #containerAside
    {
       flex-direction: row;
       justify-content: space-around;
    }



                        /*ACTIVITES*/
   
   .responsive__sections--align-center          /*unique selector to anchor the activites section's id*/
    {
        align-items: center;
    }
    
    #containerActivites
    {
        justify-content: space-around;
    }

    #containerActivites figure 
    {
        width: 334px;
        height: 190px;
        margin-bottom: 1.4em;
    }

    #calanquesFirst         /*puts Calanques img first to harmonize, because of the double divs*/
    {
        order: -1;
    }

    .responsive__activites__doubleIMGdiv--height            /*to have a correct middle space corresponding phone "maquette"*/
    {
        height: 424px;
    }

    /*Images phone sizes to fixate background area*/
    .phone__activites__img--size
    {
        width: 334px;
        height: 134px;
    }

    /*Images ACTIVITES PHONE*/
    #activitesImg_vieuxport
    {
        background-image: url("reservia_img/activites_phone/1vieuxportPhone.jpg");
    }

    #activitesImg_pomegues 
    {
        background-image: url("reservia_img/activites_phone/2pomeguesPhone.jpg");
    }

    #activitesImg_frioul 
    { 
        background-image: url("reservia_img/activites_phone/3frioulPhone.jpg");
    }

    #activitesImg_calanques 
    { 
        background-image: url("reservia_img/activites_phone/4calanquesPhone.jpg");
    }

    #activitesImg_notredame 
    { 
        background-image: url("reservia_img/activites_phone/5notredamePhone.jpg");
    }

    #activitesImg_longchamp 
    { 
        background-image: url("reservia_img/activites_phone/6longchampPhone.jpg");
    }



                        /*FOOTER*/
    footer
    {
        justify-content: space-around;
    }

    footer div
    {
        width: auto;
    }
}


@media screen and (max-width: 48em)
{
    .body__bigSections--margin          /*margin corrected for header, hebergements, activites*/     
    {
        margin-bottom: 0;
    }


    /*FLEXBOX*/
    .phone__containers--column
    {
        flex-direction: column;
    }

    .phone__sections--align-center
    {
        align-items: center;
    }



                            /*HEADER*/
   
    header 
    {
        justify-content: space-between;
    }

    header p
    {
        padding: 0;
    }

    #reservia_logo
    {
        margin-bottom: 0.5em;
    }

    nav         /*space between nav & title*/
    {
        margin-bottom: 0.5em;
        order: 1;
        width: 100%;
    }

    nav a
    {
        padding: 0.8em;         /*put space between word and border*/
        justify-content: space-around;
    }

    nav p           /*for links to take all the row's space*/
    {
        width: 50%; 
    }

    #reservia_logo
    {
        padding: 1em 0 1em 1.4em;
    }

    #inscriptionLink
    {
        padding: 1em 1.4em 1em 0;
    }

    .nav__linkActivites--borderPhone
    {
        border-bottom: 2px #F2F2F2 solid;
    }



                            /*SEARCH && FILTERS*/

    #searchAndFilter h1
    {
        line-height: 1.2em;
        margin-bottom: 0;
    }
    
    form
    {
        margin: 2em 0 1.5em 0;
    }

    #RechercherButton
    {
        display: none;
    }
    
    #phoneSearchButton
    {
        visibility: visible;
    }    
    
    #filterTitle, #filterSelection          /*alignement to the left of the page*/
    {
        align-self: flex-start;
    }



                        /*SECTIONS hébergements/activités*/
    .phone--apply-width-to-center        
    /*to have texts aligned on the the border left et not centered with figures*/
        {
            width: 334px; 
        }



                        /*HEBERGEMENTS*/

    article figure, aside figure
    {
        width: 324px;
    }

                        /*ARTICLE*/
    article 
    {
        height: auto;
    }

    #article_noBackground
    {
        background: none;
    }
    
    

    article figure 
    {
        height: 190px;
    }

    .article__figureTextDiv--line-height           /*bring upper the text, closer to the image, so that the stars appear*/
    {
        line-height: 0;
    }

    /*Images phone sizes to fixate the background area*/
    .article__img--size
    {
        width: 326px;
        height: 114px;
    }

    /*Images ARTICLE PHONE*/
    #articleImg_cannebiere 
    { 
        background-image: url("reservia_img/hebergements_phone/1cannebierePhone.jpg")
    }

    #articleImg_port 
    { 
        background-image: url("reservia_img/hebergements_phone/2portPhone.jpg");
    }

    #articleImg_mouettes 
    { 
        background-image: url("reservia_img/hebergements_phone/3mouettesPhone.jpg");
    }

    #articleImg_mer 
    { 
        background-image: url("reservia_img/hebergements_phone/4merPhone.jpg");
    }

    #articleImg_panier 
    { 
        background-image: url("reservia_img/hebergements_phone/5panierPhone.jpg");
    }

    #articleImg_amina 
    { 
        background-image: url("reservia_img/hebergements_phone/6aminaPhone.jpg");
    }



                        /*ASIDE*/
    aside 
    { 
        margin-left: 0;
    }

    #containerAside
    {
        flex-direction: column;
    }

    aside figure 
    {
        height: 134px;
        justify-items: center;
    }

    .tablet__containers--flexWrap
    {
        flex-wrap: nowrap;
    }



                        /*ACTIVITES*/
    #containerActivites
    {
        height: auto;
    }

    #containerActivites figure 
    {
        width: 334px;
        height: 190px;
        margin-bottom: 1.4em;
    }



                        /*FOOTER*/
    footer div 
    {
        width: 334px;
    }
    
}


